#sideNav {
    width: 300px;
    background-color: $gris1;
    min-height: 100vh;
    border-right: 1px solid $gris1;
    position: fixed;
    left: 0;

    .logoMMC {
        width: 150px;
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin: 0 auto;

        .st1{
            fill:$gris3;
            stroke:$claro1;
            stroke-width:0.9682;
            stroke-miterlimit:10;
        }
        .st2{
            fill:none;
            stroke:$claro1;
            stroke-width:1.1427;
            stroke-linecap:round;
            stroke-linejoin:round;
            stroke-miterlimit:10;
        }
    }
    

    ul {
        margin: 0;
        padding: 0;
        margin-bottom: 1px;

        a{
            text-decoration: none;
        }

        li {
            font-size: 1em;
            display: none;
            font-family: 'Roboto Slab';
            padding: 10px;
            color: $claro1;
            background-color: $gris3;
            text-decoration: none;
            padding-left: 15px;
            font-size: 0.75em;

            &.title {
                background-color: $claro1;
                display: block;
                font-weight: bold;
                font-family: 'Roboto';
                color: $frost4;
                padding-left: 10px;
                font-size: 1em;

                &:hover{
                    background-color: $frost1;
                    color: $claro3;
                }
            }
        }

        &.active {
             li {
                 display: block;
                 cursor:pointer;

                 &.title{
                    background-color: $frost1;
                    color: $claro3;
                 }

                 &:hover {
                     background-color: $gris4;
                 }
             }   
        }
    }
}