$gris1: #4c566a;
$gris2: #434c5e;
$gris3: #3b4252;
$gris4: #2e3440;

$claro1: #d8dee9;
$claro2: #e5e9f0;
$claro3: #eceff4;

$frost1: #8fbcbb;
$frost2: #88c0d0;
$frost3: #81a1c1;
$frost4: #5e81ac;

$rojo: #BF616A;
$naranja: #D08770;
$amarillo: #EBCB8B;
$verde: #A3BE8C;
$morado: #B48EAD;

@import './nav.scss'